listener "tcp" {
  address         = "{{ ansible_host }}:8200"
  cluster_address = "{{ ansible_host }}:8201"
  tls_disable     = "false"
  tls_cert_file   = "/usr/local/etc/vault.pem"
  tls_key_file    = "/usr/local/etc/vault.key"
  tls_min_version = "tls13"
}

storage "consul" {
  address = "{{ ansible_host }}:8500"
}

api_addr      = "http://{{ ansible_host }}:8200"
cluster_addr  = "https://{{ ansible_host }}:8201"
disable_mlock = "true"
ui            = "true"
